*,
*::before,
*::after {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.spaced-stack * + * {
  margin-top: 1em;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-shrink: 0;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 16px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.cards {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  padding: 48px;
}

.card {
  display: flex;
  width: 300px;
  padding: 16px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}
